# Ignore NEURON compiled binaries
/mod/arm64/
/mod/fit_final/optimization/mod/arm64/*
/mod/fit_final/optimization/arm64/*
/arm64/*
/arm64
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyc

# macOS
.DS_Store
/.idea
# Python environments
.env
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/


# Logs / temporary files / files
*.log
*.swp
*.bak
*.tmp
*.dat
*.ai
*.png
*.txt
*.csv
*.pdf
*.cpp
*.nrn
*_inc
*.dylib
*.docx
*.dll
*.ft1
*.ses
*.fd1
*.fd2
*.tif


# Compiled NEURON files
x86_64/
arm64/*
*.o
*.c


# Data/output
/results/
!/results/**/*.py


/figures/
!/figures/**/*.py
/deprecated
/mod/deprecated/
/exported_sweeps/*
/MNTB_Model_Dann/

/OneDriveBully-master/*
/OneDriveBully-master
/data/ap_P9_iMNTB/
!/data/ap_P9_iMNTB/**/*.py

/data/ap_P9_TeNT/
!/data/ap_P9_TeNT/**/*.py

/data/dat/
!/data/dat/**/*.py

/optimization_deprecated
/optimization_deprecated/*
/4x/*
/4x
/Illustrator/*
/Illustrator

/mod/fit_final/optimization/arm64/
/mod/fit_final/optimization/mod/arm64/
/mod/fit_final/optimization/figures/
/mod/fit_final/optimization/deprecated/
/mod/fit_final/optimization/3D_and_bar_graphs/arm64/
/mod/fit_final/optimization/3D_and_bar_graphs/mod/arm64/
/mod/fit_final/optimization/in_progress

/mc_project
!/results/_last_simulations/**
!/mod/fit_final/LICENSE.txt**