# Ignore NEURON compiled binaries
/mod/arm64/
/mod/fit_final/optimization/mod/arm64/*
/mod/fit_final/optimization/arm64/*
/arm64/*
/arm64
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyc

# macOS
.DS_Store
/.idea
# Python environments
.env
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/


# Logs / temporary files / files
*.log
*.swp
*.bak
*.tmp
*.dat
*.ai
*.cpp
*.nrn
*_inc
*.dylib
*.docx
*.dll
*.ft1
*.ses
*.fd1
*.fd2
*.tif

# Compiled NEURON files
x86_64/
arm64/*
arm64/
*.o
*.c
/deprecated

/mod/deprecated/
/exported_sweeps/*
/MNTB_Model_Dann/

/OneDriveBully-master/*
/OneDriveBully-master
/data/ap_P9_iMNTB/
!/data/ap_P9_iMNTB/**/*.py

/data/ap_P9_TeNT/
!/data/ap_P9_TeNT/**/*.py

/data/dat/
!/data/dat/**/*.py

/optimization_deprecated
/optimization_deprecated/*
/4x/*
/4x
/Illustrator/*
/Illustrator
